@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Raleway&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.hero{
    height: 100vh;
    padding-top: 30px;
    background-color: white;
    background-size: cover;
}
#box{
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#leftBox{
    background-color: whitesmoke;
    width: 40%;
    height: 450px;
    float: left;
    padding: 40px;
}
#rightBox{
    background-color: whitesmoke;
    width: 59%;
    height: 450px;
    float: right;
}

#leftBox label{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}
#leftBox input{
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
}
#textInput{
    margin-left: 0px;
}
#numInput{
    margin-left: 10px;
}
#leftBox textarea{
    height: 150px;
    width: 270px;
    border: none;
    outline: none;
}

#btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
#sendMe{
    height: 30px;
    width: 80px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 5px;
}
#sendMe:hover{
    background-color: gray;
    color: white;
    transition: all 500ms ease-in-out;   
}
/* show result  */
#nameInput{
    height: 50px;
    width: 270px;
    padding: 20px;
    margin-bottom: 20px;
}
#ageInput{
    height: 50px;
    width: 270px;
    padding: 20px;    
    margin-bottom: 20px;
}
#bioInput{
    height: 400px;
    width: 530px;
    padding: 20px;
    margin-bottom: 20px;
}